:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #1b2f3f;
  background-color: #f0e9db;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden scroll;
  scroll-snap-type: y mandatory;
  margin: 0;
}

section {
  height: 100vh;
  width: 90%;
  max-width: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  scroll-snap-align: start;
}

section p {
  text-align: center;
  line-height: 2.2rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

header {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  pointer-events: none;
  z-index: 2;
  opacity: 0;
  padding: 2rem 2rem 1rem 0.5rem;
}

header img {
  height: 8rem;
  width: auto;
}

header.scrolled {
  pointer-events: all;
  opacity: 1;
}

header.transition {
  transition: opacity 1s;
}
header.quick {
  transition: opacity 0.2s;
}

header > button {
  z-index: 4;
}

h1 {
  text-align: center;
}

h1 img {
  width: 80%;
  max-width: 90rem;
  opacity: 1;
  transition: opacity 0.5s;
}

#hero.scrolled {
  opacity: 0;
}

#scroll-btn {
  opacity: 1;
  transition: opacity 0.5s;
}
#scroll-btn.scrolled {
  opacity: 0;
}

#home {
  position: relative;
}

@keyframes bounce {
  0% { margin-bottom: 0rem; }
  50% { margin-bottom: 2rem; }
  100% { margin-bottom: 0rem; }
}
#scroll-btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  font-weight: 600;
  color: #696e71;
  animation: bounce 3s ease 1s infinite;
  animation-fill-mode: none;
}

#scroll-btn img {
  height: 8rem;
  width: 8rem;
}

.link-btn {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 769px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0 1rem 0;
  }

  section {
    width: 50%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  section {
    width: 50%;
    font-size: 18px;
    margin: 0 auto;
    padding: 0 4rem;
    border-left: 0.1rem solid #000000;
    border-right: 0.1rem solid #000000;
  }

  section p {
    line-height: 2.6rem;
  }
}

@media (min-width: 1440px) {
  section {
    width: 40%;
    margin: 0 auto;
  }
}
